Flask==2.3.3
Werkzeug==2.3.7
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
Flask-Login==0.6.3
Flask-Caching==2.3.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
requests==2.32.3
sendgrid==6.11.0
email-validator==2.2.0
Pillow==10.4.0
qrcode[pil]==7.4.2
beautifulsoup4
botasaurus
fake-useragent
flask-wtf
numpy
openai
openpyxl
pandas
playwright
schedule
selenium
telegram
trafilatura
undetected-chromedriver
urllib3